.contacts 
{
  width: 300px ;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts ul
{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
}
.item button {
  margin-left: 15px;
}

.item {
  gap: 10px;
  height: 50px;
  display: flex;
  flex-direction: row;
}